svg {
  border: 1px solid #999;
  overflow: hidden;
}

#hide_while_loading {
  display: none;
}

h1 {
  text-align: center;
}

#loading {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.node {
  white-space: nowrap;
}

.node rect,
.node circle,
.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

rect {
  stroke: #333;
  fill-opacity: 0.4;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

.error {
  display: none;
  color: #ff0000;
}

.autocomplete {
  padding: 5px 0;
  margin: 0;
  background-color: #ffffff;
  max-width: 200px;
  z-index: 0;
}

.autocomplete_option {
  padding: 5px 30px 5px 10px;
  display: block;
  cursor: pointer;
  max-width: 200px;
}

.autocomplete_option:hover {
  background-color: #dddddd;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
